<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Área do Admin - UPLOAD</title>
    <link rel="stylesheet" href="/css/formAdmin.css">
</head>
<body>

    <div class="bodyContainer">

        <h2>Enviar novo certificado</h2>

        <div class="formContainer">
            <form method="POST" action="/certificados" enctype="multipart/form-data">
                <label for="cnpj_cliente">CNPJ do Cliente:</label>
                <input class="input-text" type="text" id="cnpj_cliente" name="cnpj_cliente" required><br><br>

                <label for="email_cliente">E-mail do Cliente:</label>
                <input class="input-text" type="email" id="email_cliente" name="email_cliente" required><br><br>

                <label for="numero_certificado">Número do Certificado:</label>
                <input class="input-text" type="text" id="numero_certificado" name="numero_certificado" required><br><br>

                <label for="nome_arquivo_certificado">PDF do Certificado:</label>
                <input class="inputFile" type="file" id="nome_arquivo_certificado" name="nome_arquivo_certificado" accept=".pdf" required><br><br>

                <button type="submit">Enviar</button>
            </form>

            <div class="responseContainer">
                <!-- Mensagem de sucesso -->
                <div style="color: green; font-weight: bold;" th:if="${mensagemSucesso}">
                    <p th:text="${mensagemSucesso}"></p>
                </div>

                <!-- Mensagem de erro -->
                <div style="color: red; font-weight: bold;" th:if="${mensagemErro}">
                    <p th:text="${mensagemErro}"></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
